@import url("https://fonts.google.com/specimen/Outfit");

body {
    display: grid;
    place-items: center;
    background: hsl(212, 45%, 89%);
}

.main {
    margin-top: 50px;
    width: 260px;
    background: #ffffff;
    height: max-content;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.1);
}

.info img {
    width: 250px;
    border-radius: 10px;
}

.info h2 {
    font-size: 23px;
    text-align: center;
}

.info p {
    font-size: 15px;
}



