@import url("https://fonts.google.com/specimen/Outfit");

body {
    display: grid;
    place-items: center;
    background: hsl(212, 45%, 89%);
}

.info {
    width: 350px;
    background: #ffffff;
    height: max-content;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.1);
}

.info-details img {
    width: 350px;
    border-radius: 10px;
}

.info-details h2 {
    font-size: 25px;
    text-align: center;
}

.info-details p {
    font-size: 15px;
}



